*{
    margin: 0;
    padding: 0;
    outline: 0;
}


.back_to_top{
    
    width: 50px;
    color: black;
    font-size: 60px;
    position: fixed;
    right: 30px;
    bottom: 26px;
}

html {
    scroll-behavior: smooth;
  }